html{
    scroll-behavior: smooth;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

/* Header */
header{
    background: linear-gradient(135deg, #0f172a, #2563eb);
    color: white;
    text-align: center;
    padding: 80px 20px;
}
header h1{
    font-size: 42px;
    margin-bottom: 10px;
}

header p{
    font-size: 18px;
}

/* Navigation */
nav{
    background-color: white;
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

nav a{
    color: #333;
    text-decoration: none;
    margin: 0 20px;
    font-weight: bold;
    transition: 0.3s;
}

nav a:hover{
    color: #2a5298;
}

/* Sections */
section{
    width: 80%;
    margin: 40px auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

section h2{
    margin-bottom: 15px;
    color: #1e3c72;
}

/* Skills */
ul{
    list-style: none;
}

ul li{
    background-color: #e8f0fe;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
}

/* Project Cards */
.project-card{
    background: white;
    padding: 20px;
    margin-top: 20px;
    border-radius: 12px;
    transition: 0.3s;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.project-card:hover{
    transform: translateY(-5px);
}
/* Contact */
#contact a{
    color: #2a5298;
    text-decoration: none;
}

/* Footer */
footer{
    background-color: #1e3c72;
    color: white;
    text-align: center;
    padding: 15px;
    margin-top: 30px;
}